.dropdown-menu {
    left: auto;
}
.content {
    box-sizing: border-box;
}
.btn-sm {
    margin-right: 5px;
}
.placeholder {
    height: 100px;
}
.footer {
    text-align: center;
    margin-top: 200px;

}
.rowmid {
    justify-content: space-between;
    text-align: center;
}
.status_widget {
    text-align: center;
}
.inline {
    display: inline;
}

.pagetitle {
    margin-top: 30px;
}

label {
    margin-top: 24px;
}

form {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}
iframe {
    min-height: 800px;
    width: 100%;
}

#update_output {
    font-family: monospace;
    background: ;
    background-color: rgba(195, 230, 203, 1);
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    padding-top: 15px;
}
